* {
    margin         : 0;
    padding        : 0;
    box-sizing     : border-box;
    list-style-type: none;
    text-decoration: none;
    font-family    : 'Lora', serif;
    line-height    : 1.5;


}

.burger {
    display: none;
}

:root {
    --bgcolor: #bcbcbc;

    --fontcolor  : #9e9e9e;
    --fontsize   : 2vw;
    --buttoncolor: #dc143c;

}

body {
    background-image : url("../images/mobileposter.webp");
    background-repeat: no-repeat;
    background-size  : cover;

}

.jumbotron {
    height: 60vh;

}

header {
    display       : flex;
    flex-direction: column;
    font-size     : var(--fontsize);
}

.links {
    display: flex;
    height : 25%;
}

.logo img {
    width : 20vw;
    height: 5vw;

}

nav {
    font-weight: bolder;


}

nav ul {
    display: flex;
    width  : fit-content;


}

nav ul li {
    margin-left: 2%;
    padding    : 1%;
    width      : 12vw;

}

nav ul li a {
    color: var(--fontcolor);
    width: 10vw;

}

.login {
    height          : fit-content;
    border-radius   : 5%;
    padding         : 1%;
    padding-left    : 5%;
    padding-right   : 5%;
    width           : fit-content;
    background-color: var(--buttoncolor);
    margin-left     : 40%;
    cursor          : pointer;

}

.login a h4 {
    font-size: calc(var(--fontsize)+3vw);
    color    : var(--fontcolor);


}

nav ul li :hover {
    border-bottom: groove;
}

.quote {
    display        : flex;
    align-items    : center;
    justify-content: center;
    height         : 75%;
    color          : white;
    text-align     : center;
    font-size      : calc(var(--fontsize)+3vw);
}

blockquote {
    filter: drop-shadow(5px 5px 5px rgb(107, 247, 126));
    animation: typewriter 4s steps(44) 1s 1 normal both,
        blinkTextCursor 500ms steps(44) infinite normal;
    text-align : center;
    white-space: nowrap;
    transform  : translateY(-50%);
}


@keyframes typewriter {
    from {
        width: 0;
    }

    to {
        width: 24em;
    }
}

@keyframes blinkTextCursor {
    from {
        border-right-color: rgba(255, 255, 255, .75);
    }

    to {
        border-right-color: transparent;
    }
}

/*login.html*/

main,
main>div {
    display        : flex;
    align-items    : center;
    height         : 80vh;
    justify-content: center;

}


main span {
    height   : 100%;
    animation: borderanimation 1s linear .05s;

    border: solid var(--fontcolor);
}

main div {
    width: 50%;

}

main div form {
    display         : flex;
    flex-direction  : column;
    border          : groove;
    padding         : 2%;
    width           : 50%;
    background-color: var(--bgcolor);
    border-radius   : 5%;
    opacity         : .7;
    margin-bottom   : 10%;




}

main div form h4 {
    margin-bottom: 10%;
    font-size    : calc(var(--fontsize));
    text-align   : center;
    color        : var(--buttoncolor);
    border-bottom: groove;
    width        : fit-content;
    margin-left  : 40%;
    opacity      : 1;



}

main div form a {
    text-align: right;
    color     : black;
}


input {
    padding         : 5%;
    font-size       : 1.2em;
    border          : none;
    background-color: transparent;
    border-bottom   : groove black;
    color           : black;
    opacity         : 1;
    margin-bottom   : 10%;




}

.error {
    color    : red;
    font-size: calc(var(--fontsize)-1);
    opacity  : 1;

}

:placeholder-shown {
    font-weight: bolder;
    color      : white;
    opacity    : 1;

}

.signinlink {
    display: none;
}

.buttons {
    display        : flex;
    margin-top     : 5%;
    opacity        : 1;
    justify-content: space-evenly;
    width          : 100%;
}

input[type="submit"],
input[type="reset"] {
    border          : none;
    font-size       : calc(var(--fontsize)+2vw);
    cursor          : pointer;
    padding         : 1%;
    width           : fit-content;
    color           : var(--fontcolor);
    background-color: var(--buttoncolor);
    border-radius   : 5%;

}

input[type="reset"] {
    background-color: transparent;
    color           : red;
}

@keyframes borderanimation {
    0% {
        transform: translateY(-100%);
        opacity  : .9;
    }

    50% {
        transform: translateY(-50%);
        opacity  : .5;
    }

    100% {
        transform: translateY(0);
        opacity  : 1;
    }


}

.loginform {
    animation: lefttoright 1s linear;
}

.signinform {
    animation: righttoleft 1s linear;
}

@keyframes lefttoright {
    0% {
        transform: translateX(-100%);

    }

    50% {
        transform: translateX(-50%);
    }

    100% {
        transform: translateX(0);
    }

}

@keyframes righttoleft {
    0% {
        transform: translateX(100%);

    }

    50% {
        transform: translateX(50%);
    }

    100% {
        transform: translateX(0);
    }

}



/*folders.html*/


.username {
    border: none;
    color : rgb(103, 252, 103);
}

.folders {
    overflow             : auto;
    display              : grid;
    grid-template-columns: repeat(auto-fit, minmax(auto, 20%));
    padding              : 1%;
    gap                  : 1%;
    scroll-behavior      : smooth;
    animation            : folderdisplay .9s linear;



}

.folders div,
.addfolder {
    width           : inherit;
    height          : 40vh;
    background-color: var(--bgcolor);
    opacity         : .4;
    border-radius   : 5%;
    display         : flex;
    flex-direction  : column;
    justify-content : space-evenly;
    font-size       : var(--fontsize);
    color           : rgb(122, 0, 24);
}



.createfolder h1 {
    padding  : 10%;
    font-size: 5vw;
    opacity  : 1;
}

.folders :hover {
    background-color: var(--buttoncolor);
    color           : white;
    opacity         : 1;
    cursor          : pointer;

}

::-webkit-scrollbar {
    display: none;
}

.scrolldown {
    font-size    : 1.2vw;
    text-align   : right;
    padding-right: 10%;
    color        : var(--bgcolor);


}

.modal {
    position: absolute;

    background-color: rgba(0, 0, 0, 0.233);
    z-index         : 1;
    width           : 100%;
    height          : 90%;
    display         : none;

}

.addfolder {
    position : relative;
    width    : 20%;
    opacity  : 1;
    z-index  : 1;
    top      : 30%;
    left     : 40%;
    opacity  : 1;
    animation: none;

}

.addfolder input,
.addnote textarea {
    width      : 70%;
    margin-left: 10%;
    font-size  : var(--fontsize);
    padding    : 2%;

}

.addfolder button {
    font-size       : var(--fontsize);
    padding         : 5%;
    border          : solid;
    background-color: var(--buttoncolor);
    color           : white;
    opacity         : 1;
    border          : solid red;
    margin-left     : 20%;
    margin-right    : 20%;
    cursor          : pointer;
}

.addnote button {
    margin-left : 40%;
    margin-right: 40%;

}

.addfolder :placeholder-shown {
    color: white;
}

.addnote {
    opacity       : .5;
    padding-bottom: 1%;
    top           : 1%;
    left          : 20%;
    height        : 90%;
    width         : 50%;
}

.addnote textarea {
    overflow: auto;
}



.close {
    text-align   : right;
    padding-right: 5%;
    cursor       : pointer;
}

.logout {
    background-color: var(--buttoncolor);
    padding         : 5%;
    border-radius   : 5%;
}

.foldernameerror {
    font-size : 1vw;
    text-align: center;
}

@keyframes folderdisplay {
    0% {
        opacity  : .2;
        transform: translateX(-100%)
    }

    50% {
        opacity  : .5;
        transform: translateX(-50%)
    }

    100% {
        opacity  : 1;
        transform: translateX()
    }

}

/*displaynote.html*/
.displaynote,
.notebutton {
    display: flex;
    padding: 1%;
    margin : 1%;
    border : none;
}

.displaynote div {
    height: 100%;

}

.displaycontent {
    width: 90%;
}

.notebutton {
    flex-direction : column;
    justify-content: space-between;
    align-items    : center;
    width          : 20%;
    animation      : none;

}

.notebutton button {
    font-size       : var(--fontsize);
    padding         : 1%;
    width           : 8vw;
    color           : var(--bgcolor);
    border-radius   : 8%;
    border          : none;
    background-color: var(--buttoncolor);
    cursor          : pointer;
    height          : fit-content;


}

.contents {
    display         : block;
    background-color: var(--bgcolor);
    width           : 100%;
    font-size       : 2vw;
    overflow        : scroll;
    text-align      : justify;
    line-height     : 1.5;
    padding         : 1%;
    border          : none;
    border-radius   : 1%
}

.confirmessage {
    text-align: center;
}

.show {
    display: block;
}


/*-------------------------------------------mobile---------------------------------------------*/

/*mobile css*/
@media screen and (max-width : 768px) {

    body {
        background-image : url("../images/mobileposter.webp");
        background-repeat: no-repeat;
        background-size  : cover;
        
   
    
    }
    .jumbotron {
        margin-top: 10%;
        padding   : 10%;

    }

    .jumbotron div {
        margin-bottom: 20%;

    }

    .burger {
        display: inline-block;
        width  : fit-content;
        padding: 1%;

    }

    .line {
        border: solid var(--bgcolor);
        width : 10vw;
        margin: 5%;
    }

    nav {
        display         : none;
        position        : absolute;
        z-index         : 1;
        right           : 1%;
        top             : 9%;
        background-color: var(--buttoncolor);
        width           : fit-content;
    }

    nav ul,
    .links {
        flex-direction: column;

    }

    nav ul li a {
        width : 100%;
        color : var(--fontcolor);
        margin: 1%
    }

    header {
        font-size: calc(var(--fontsize)+6vw);

        flex-direction : row;
        justify-content: space-between;
        height         : fit-content;
        margin-right   : 5%;
        margin-top     : 5%;
    }





    .logo {
        margin: 0;
    }

    .logo img {
        width  : 100%;
        height : 20vw;
        padding: 0;
    }

    .links {
        height : fit-content;
        padding: 1%;

    }


    nav ul li {
        padding: 1%;
        width  : 34vw;
    }


    .quote {
        height: fit-content;


    }

    blockquote {
        font-size: calc(var(--fontsize)+7vw);


    }

    .login a h4 {
        font-size: calc(var(--fontsize)+7vw);
    }

    /*login.html mobile*/

    main {
        padding-top   : 10%;
        flex-direction: column;
        height        : calc(fit-content - 1vh)
    }

    main div {
        width: 100%;
    }


    main div form {
        width: 80%;
        opacity: 1;
    }

    main div form h4,
    input[type="submit"],
    input[type="reset"],
    .error {
        font-size: calc(var(--fontsize)+8vw);

    }

    main span {
        display: none;

    }

    .signinlink {
        display  : inline;
        animation: none;
        font-size: calc(var(--fontsize)+8vw);
        color    : white;
        margin   : 0;
        border   : none;

    }
    .hide
    {
        display: none;
    }


  
    .loginform form input,
    h4,
    .buttons {
        margin-bottom: 1%;

    }

    .error {
        text-align: center;
        font-size : 1em;
    }

    /*folder.html*/
    .folders {
        overflow             : auto;
        display              : grid;
        grid-template-columns: repeat(auto-fit, minmax(auto, 80%));
        padding              : 1%;
        gap                  : 1%;
        scroll-behavior      : smooth;


    }

    .folders div {
        width           : inherit;
        height          : 40vh;
        background-color: var(--bgcolor);
        opacity         : 1;
        border-radius   : 5%;
        display         : flex;
        flex-direction  : column;
        justify-content : space-evenly;
        font-size       : calc(var(--fontsize)+8vw);
        color           : rgb(122, 0, 24)
    }

    .noofnotes {
        color        : white;
        border       : solid red;
        border-bottom: dashed;

    }

    .folder span {
        border: solid;
    }

    .createfolder button {
        font-size: calc(var(--fontsize)+6vw);

    }

    .modal {
        position: absolute;

        background-color: rgba(0, 0, 0, 0.233);
        z-index         : 1;
        width           : 100%;
        height          : 70%;
        overflow        : hidden;
    }

    .addfolder {
        width: 80%;
        left : 10%;
    }

    .close {
        font-size: calc(var(--fontsize)+7vw);

    }


    .addfolder input,
    .addfolder button,
    .addnote textarea {
        font-size: calc(var(--fontsize)+8vw);

    }

    .addnote {
        opacity: 1;
    }

    .addnote textarea {
        margin-bottom: 5%;

    }

    .foldernameerror,
    .contenterror,
    .notenameerror {
        font-size : 4vw;
        text-align: center;
    }

    .addfolder button {
        margin-left  : 20%;
        margin-bottom: 5%;
    }

    .displaynote {
        display       : flex;
        flex-direction: column-reverse;
        padding       : 1%;
        margin        : 1%;
        margin-top    : 1%;
    }

    .displaynote div {
        width: 100%;


    }


    .notebutton {
        display              : grid;
        grid-template-columns: repeat(4, minmax(auto, 1fr));
        width                : 100%;
        margin               : 2%;
        padding              : 2%;
        height               : fit-content;

    }


    .notebutton button {

        font-size       : calc(var(--fontsize)+5vw);
        padding         : 1%;
        width           : fit-content;
        color           : var(--bgcolor);
        border-radius   : 8%;
        background-color: var(--buttoncolor);
        cursor          : pointer;
        height          : fit-content;


    }

    .contents {

        font-size : 5vw;
        height    : 120%;
        margin-top: 5%;

    }

    .confirmessage {
        font-size: 5vw;

    }


}